/* Hiding quiz, result, and highscore section */
#quiz-section {
    display: none;
}
#result-section{
    display: none;
}
#highscore-section{
    display: none;
}
nav{
    color: blue;
}
/* centered all body elements */
.container{
text-align: center;
padding:25px;
}